@use 'variables' as v;

@mixin telefono {
    @media(min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: v.$tablet) {
        @content;
    }
}

@mixin destok {
    @media(min-width: v.$destok) {
        @content;
    }
}

@mixin grid ($col,$space) {
    display: grid;
    grid-template-columns: repeat($col,1fr);
    gap: $space;
}
